@using System.ComponentModel
@using System.Threading.Tasks
@using Models
@model List<Models.TodoItem>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<a asp-controller="Todo" asp-action="Add">Add new Todo item.</a>

<div class="list">
    @foreach (var item in Model)
    {
        <h1>@item.Text---@item.DateCreated</h1>
        if (item.IsCompleted)
        {
            <span>This item is completed</span>
        }
        else
        {
            <a asp-action="MarkAsCompleted" asp-route-Id="@item.Id" asp-route-UserId="@item.UserId">Mark as completed</a>
        }

    }
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
