@using System.ComponentModel
@using System.Threading.Tasks
@using Models
@model List<Models.TodoItem>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div><a asp-controller="Todo" asp-action="Add">Add new Todo item.</a></div>
<div><a asp-controller="Todo" asp-action="Completed">All completed items.</a></div>
<div class="list">
    @foreach (var item in Model)
    {
        <h1>@item.Text</h1>
        <h5>Date created: @item.DateCreated.ToShortDateString()</h5>
        <a asp-action="MarkAsCompleted" asp-route-Id="@item.Id" asp-route-UserId="@item.UserId">Mark as completed</a>
    }
</div>



